@model MVCForum.Models.Home.HomeIndexModel

<div class="container body-container">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">
                Learn, Collaborate, Share Knowledge
            </div>
            <p class="frontPageSubHeading">Bilgi paylaştıkca çoğalır </p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..."/>
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts"> Latest</h3>
        <table class="table table-hover">
            <tbody>
            @foreach (var p in Model.LatestPosts)
            {
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@p.Forum.ImageUrl); background-size: 100%"></div>
                        <div class="postTitle">
                            <a asp-controller="Post" asp-action="Index" asp-route-id="@p.Id">
                                @p.Title
                            </a>
                        </div>
                        <div class="postSubtitle">
                            @if (p.RepliesCount == 1)
                            {
                                <span>@p.RepliesCount Reply</span>
                            }
                            @if (p.RepliesCount == 0)
                            {
                                <span>No Replies</span>
                            }
                            else
                            {
                                <span>@p.RepliesCount Replies</span>
                            }
                            <span class="postUser">
                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@p.AuthorId">
                                    @p.AuthorName
                                </a>
                            </span>
                        </div>
                        </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>